@import "./reset.css";
@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,700,800);

body {
    font-family: "Manrope", sans-serif;
}

.sticky-footer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}

.container.container-small {
    width: 1000px;
}

.title-1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 1;
}

.title-2 {
    font-size: 28px;
    font-weight: 700;
}

.title-3 {
    font-size: 20px;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.desktop-only {
    display: block;
}

.no-scroll {
    overflow-y: hidden;
}

/* Шапка */

.header {
    position: relative;
    z-index: 19;

    padding: 40px 0;
}

.header-bg {
    background-color: #f6f6f6;
}

.header-white-bg {
    background-color: #fff;
}

/* Навигация */

.logo {
    flex-shrink: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.nav-list a {
    color: #000;
    transition: color 0.2s ease-in;
}

.nav-list a.active {
    color: #81b4bd;
}

.nav-list a:hover {
    color: #00ceb5;
}

.btn-mobile-nav {
    display: none;
}

/* Мобильная навигация */

.mobile-nav {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: #f6f6f6;

    
    justify-content: center;
    align-items: center;

    display: none;
}

.mobile-nav.open {
    display: flex;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.mobile-nav-list a {
    color: #000;
}

/* Промо */

.promo {
    display: flex;
    align-items: center;

    padding-left: 70px;
    height: 500px;

    background-color: #344d42;
    background-image: url('../img/promo/promo-bg.jpg');
    background-position: center;
    background-size: cover;

    border-radius: 40px;
    color: #fff;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .promo {
        background-image: url('../img/promo/promo-bg@2x.jpg');
    }
}

.promo-title {
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 800;
}

.promo-text {
    font-size: 24px;
}

/* Главный контент */

.main-content {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding: 90px 0;
}

.content-row {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.content-row.content-row-reverse {
    flex-direction: row-reverse;
}

.content-img {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 40px;
}

.content-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.title-1 span {
    color: #81B4BD;
}

.content-text p {
    font-size: 18px;
    line-height: 1.8;
}

.content-text a {
    text-decoration: underline;
    font-weight: 500;
    color: #81B4BD;
}

/* Страница с турами */

/* Карточки */

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 30px;
}

.card {
    width: 370px;
}

.card-img {
    display: block;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.card-desc {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.card-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
}

.card-desc p {
    line-height: 1.5;
}

.card-desc a {
    color: #81B4BD;
    text-decoration: underline;
}

/* Внутренняя страница */

.inner-page {
    padding: 90px 0;
}

.inner-page-title-wrapper {
    margin-bottom: 60px;
}

/* О компании */

.article-content p {
    font-size: 18px;
    line-height: 1.8;
}

.article-content p+p {
    margin-top: 30px;
}

.article-img {
    margin: 40px 0;
    border-radius: 20px;
    overflow: hidden;
}

/* Контакты */

.contacts-columns {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}

/* Форма */

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px;
    width: 600px;

    border-radius: 10px;
    box-shadow: 0 5px 25px 0 rgba(211, 211, 211, 0.5);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input {
    padding: 14px 20px;
    width: 100%;
    height: 50px;

    border: 1px solid #b5dee5;
    border-radius: 2px;

    color: #9ECCD4;
    background: #eff9fb;
}

.input.input-50 {
    flex: 1;
}

.input::placeholder {
    color: #3ac9dc;
}


.radio-list,
.checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.radio-list label,
.checkbox-list label {
    display: flex;
    align-items: center;
    gap: 15px;
}

.radio-list label input,
.checkbox-list label input {
    flex-shrink: 0;
}

.submit-btn {
    align-self: flex-start;
    padding: 12px 36px 13px;
    height: 50px;

    border-radius: 6px;
    box-shadow: 0 8px 20px 0 rgba(129, 180, 189, 0.35);
    background: #81b4bd;

    text-align: center;
    font-weight: 800;
    font-size: 18px;
    color: #fff;

    transition: all 0.2s ease-in;
}

.submit-btn:hover {
    opacity: 0.8;
}

.submit-btn:active {
    opacity: 1;
    background-color: #639199;
}

/* Фейковая радио-кнопка */

.fake-radio {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    border-radius: 20px;
    border: 1px solid #b5dee5;
    background-color: #eff9fb;
}

.fake-radio::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

    width: 12px;
    height: 12px;

    border-radius: 12px;
    background-color: #37b6cc;

    transition: all 0.2s ease-in;
}

.real-radio:checked+.fake-radio::after {
    transform: translate(-50%, -50%) scale(1);
}

/* Фейковая чекбокс-кнопка */

.fake-checkbox {
    position: relative;

    width: 20px;
    height: 20px;
    flex-shrink: 0;

    border: 1px solid #b5dee5;
    background: #eff9fb;
}

.fake-checkbox::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

    width: 16px;
    height: 13px;

    background-image: url("data:image/svg+xml,%3Csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.06055 5.93933L7.06055 11.9393M4.93923 11.9393L14.9392 1.93933' stroke='%2337B6CC' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.2s ease-in;
}

.real-checkbox:checked+.fake-checkbox::after {
    transform: translate(-50%, -50%) scale(1);
}

/* Адрес */

.address-wrapper {
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.address-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address-list li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.yandex-map {
    width: 100%;
    height: 375px;
}


/* Подвал */

.footer {
    margin-top: auto;
    padding: 60px 0;

    background-color: #111;
    color: #fff;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.footer-copyright {
    font-size: 14px;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.3);
}

.footer-contacts {
    text-align: right;
}

.footer-phone {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
}

.footer-email {
    display: inline-block;
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.5;
    color: #00BDA6;
}

.footer-address {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
}