/* Tablet */
@media (max-width: 1199px) {
    .container {
        width: 768px;
    }

    .container.container-small {
        width: 768px;
    }

    .title-1 {
        font-size: 38px;
    }

    .desktop-only {
        display: none !important;
    }

    /* Навигация */

    .nav-list {
        gap: 30px;
    }

    /* Промо */

    .promo {
        padding-left: 20px;
        height: 350px;
        border-radius: 20px;
    }

    .promo-title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .promo-text {
        font-size: 18px;
    }

    /* Главный контент */

    .main-content {
        padding: 60px 0;
    }

    .content-row {
        align-items: flex-start;
        column-gap: 30px;
    }

    .content-img {
        border-radius: 20px;
    }

    .content-text {
        row-gap: 10px;
    }

    .content-img,
    .content-text {
        flex: 1;
    }

    .content-text p {
        font-size: 14px;
        line-height: 1.8;
    }

    /* Подвал */

    .footer {
        padding: 40px 0;
    }

    .footer-row {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
    }

    .footer-contacts {
        text-align: left;
    }

    /* Внутренняя страница */

    .inner-page {
        padding: 60px 0;
    }

    .inner-page-title-wrapper {
        margin-bottom: 40px;
    }

    .cards-wrapper {
        row-gap: 40px;
    }

    .card {
        width: 354px;
    }

    .article-content p {
        font-size: 16px;
    }

    /* Контакты */

    .contacts-columns {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .address-wrapper {
        width: 100%;
        gap: 40px;
    }

    .form-wrapper {
        width: 100%;
    }
}